TProg13/Tarea3/ClienteWeb/wsdl/PublicadorUsuarioService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. -->
<definitions targetNamespace="http://publicadores/" name="PublicadorUsuarioService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://publicadores/" schemaLocation="PublicadorUsuarioService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="PublicadorUsuarioService_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="altaCategoriaSinGUI">
    <part name="nombre" type="xsd:string"/>
  </message>
  <message name="altaCategoriaSinGUIResponse"/>
  <message name="CategoriaYaExisteException">
    <part name="fault" element="tns:CategoriaYaExisteException"/>
  </message>
  <message name="modificarDatosUsuario">
    <part name="nickname" type="xsd:string"/>
    <part name="nombre" type="xsd:string"/>
    <part name="descripcion" type="xsd:string"/>
    <part name="link" type="xsd:string"/>
    <part name="apellido" type="xsd:string"/>
    <part name="fechaNacimiento" type="xsd:anySimpleType"/>
    <part name="institucion" type="xsd:string"/>
    <part name="imagen" type="xsd:string"/>
  </message>
  <message name="modificarDatosUsuarioResponse"/>
  <message name="UsuarioNoExisteException">
    <part name="fault" element="tns:UsuarioNoExisteException"/>
  </message>
  <message name="UsuarioTipoIncorrectoException">
    <part name="fault" element="tns:UsuarioTipoIncorrectoException"/>
  </message>
  <message name="obtenerDatosRegistros">
    <part name="identificador" type="xsd:string"/>
  </message>
  <message name="obtenerDatosRegistrosResponse">
    <part name="return" type="tns:dtRegistro"/>
  </message>
  <message name="obtenerDatosUsuario">
    <part name="nickname" type="xsd:string"/>
  </message>
  <message name="obtenerDatosUsuarioResponse">
    <part name="return" type="tns:dtDatosUsuario"/>
  </message>
  <message name="listarInstituciones"/>
  <message name="listarInstitucionesResponse">
    <part name="return" type="ns1:stringArray" xmlns:ns1="http://jaxb.dev.java.net/array"/>
  </message>
  <message name="getInstituciones"/>
  <message name="getInstitucionesResponse">
    <part name="return" type="ns2:stringArray" xmlns:ns2="http://jaxb.dev.java.net/array"/>
  </message>
  <message name="esAsistente">
    <part name="nickname" type="xsd:string"/>
  </message>
  <message name="esAsistenteResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="seguirUsuario">
    <part name="seguidor" type="xsd:string"/>
    <part name="seguido" type="xsd:string"/>
  </message>
  <message name="seguirUsuarioResponse"/>
  <message name="altaInstitucion">
    <part name="nombre" type="xsd:string"/>
    <part name="descripcion" type="xsd:string"/>
    <part name="link" type="xsd:string"/>
  </message>
  <message name="altaInstitucionResponse"/>
  <message name="InstitucionYaExisteException">
    <part name="fault" element="tns:InstitucionYaExisteException"/>
  </message>
  <message name="dejarSeguirUsuario">
    <part name="seguidor" type="xsd:string"/>
    <part name="seguido" type="xsd:string"/>
  </message>
  <message name="dejarSeguirUsuarioResponse"/>
  <message name="validarLogin">
    <part name="nickOrEmail" type="xsd:string"/>
    <part name="contrasena" type="xsd:string"/>
  </message>
  <message name="validarLoginResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="obtenerUsuariosDT"/>
  <message name="obtenerUsuariosDTResponse">
    <part name="return" type="tns:dtDatosUsuarioArray"/>
  </message>
  <message name="altaUsuario">
    <part name="nickname" type="xsd:string"/>
    <part name="nombre" type="xsd:string"/>
    <part name="correo" type="xsd:string"/>
    <part name="descripcion" type="xsd:string"/>
    <part name="link" type="xsd:string"/>
    <part name="apellido" type="xsd:string"/>
    <part name="fechaNacimiento" type="xsd:anySimpleType"/>
    <part name="institucion" type="xsd:string"/>
    <part name="esOrganizador" type="xsd:boolean"/>
    <part name="contrasena" type="xsd:string"/>
    <part name="imagen" type="xsd:string"/>
  </message>
  <message name="altaUsuarioResponse"/>
  <message name="UsuarioYaExisteException">
    <part name="fault" element="tns:UsuarioYaExisteException"/>
  </message>
  <message name="sigueA">
    <part name="seguidor" type="xsd:string"/>
    <part name="seguido" type="xsd:string"/>
  </message>
  <message name="sigueAResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <portType name="PublicadorUsuario">
    <operation name="altaCategoriaSinGUI">
      <input wsam:Action="http://publicadores/PublicadorUsuario/altaCategoriaSinGUIRequest" message="tns:altaCategoriaSinGUI"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/altaCategoriaSinGUIResponse" message="tns:altaCategoriaSinGUIResponse"/>
      <fault message="tns:CategoriaYaExisteException" name="CategoriaYaExisteException" wsam:Action="http://publicadores/PublicadorUsuario/altaCategoriaSinGUI/Fault/CategoriaYaExisteException"/>
    </operation>
    <operation name="modificarDatosUsuario" parameterOrder="nickname nombre descripcion link apellido fechaNacimiento institucion imagen">
      <input wsam:Action="http://publicadores/PublicadorUsuario/modificarDatosUsuarioRequest" message="tns:modificarDatosUsuario"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/modificarDatosUsuarioResponse" message="tns:modificarDatosUsuarioResponse"/>
      <fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" wsam:Action="http://publicadores/PublicadorUsuario/modificarDatosUsuario/Fault/UsuarioNoExisteException"/>
      <fault message="tns:UsuarioTipoIncorrectoException" name="UsuarioTipoIncorrectoException" wsam:Action="http://publicadores/PublicadorUsuario/modificarDatosUsuario/Fault/UsuarioTipoIncorrectoException"/>
    </operation>
    <operation name="obtenerDatosRegistros">
      <input wsam:Action="http://publicadores/PublicadorUsuario/obtenerDatosRegistrosRequest" message="tns:obtenerDatosRegistros"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/obtenerDatosRegistrosResponse" message="tns:obtenerDatosRegistrosResponse"/>
    </operation>
    <operation name="obtenerDatosUsuario">
      <input wsam:Action="http://publicadores/PublicadorUsuario/obtenerDatosUsuarioRequest" message="tns:obtenerDatosUsuario"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/obtenerDatosUsuarioResponse" message="tns:obtenerDatosUsuarioResponse"/>
      <fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" wsam:Action="http://publicadores/PublicadorUsuario/obtenerDatosUsuario/Fault/UsuarioNoExisteException"/>
    </operation>
    <operation name="listarInstituciones">
      <input wsam:Action="http://publicadores/PublicadorUsuario/listarInstitucionesRequest" message="tns:listarInstituciones"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/listarInstitucionesResponse" message="tns:listarInstitucionesResponse"/>
    </operation>
    <operation name="getInstituciones">
      <input wsam:Action="http://publicadores/PublicadorUsuario/getInstitucionesRequest" message="tns:getInstituciones"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/getInstitucionesResponse" message="tns:getInstitucionesResponse"/>
    </operation>
    <operation name="esAsistente">
      <input wsam:Action="http://publicadores/PublicadorUsuario/esAsistenteRequest" message="tns:esAsistente"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/esAsistenteResponse" message="tns:esAsistenteResponse"/>
    </operation>
    <operation name="seguirUsuario" parameterOrder="seguidor seguido">
      <input wsam:Action="http://publicadores/PublicadorUsuario/seguirUsuarioRequest" message="tns:seguirUsuario"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"/>
    </operation>
    <operation name="altaInstitucion" parameterOrder="nombre descripcion link">
      <input wsam:Action="http://publicadores/PublicadorUsuario/altaInstitucionRequest" message="tns:altaInstitucion"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/altaInstitucionResponse" message="tns:altaInstitucionResponse"/>
      <fault message="tns:InstitucionYaExisteException" name="InstitucionYaExisteException" wsam:Action="http://publicadores/PublicadorUsuario/altaInstitucion/Fault/InstitucionYaExisteException"/>
    </operation>
    <operation name="dejarSeguirUsuario" parameterOrder="seguidor seguido">
      <input wsam:Action="http://publicadores/PublicadorUsuario/dejarSeguirUsuarioRequest" message="tns:dejarSeguirUsuario"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/dejarSeguirUsuarioResponse" message="tns:dejarSeguirUsuarioResponse"/>
    </operation>
    <operation name="validarLogin" parameterOrder="nickOrEmail contrasena">
      <input wsam:Action="http://publicadores/PublicadorUsuario/validarLoginRequest" message="tns:validarLogin"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/validarLoginResponse" message="tns:validarLoginResponse"/>
    </operation>
    <operation name="obtenerUsuariosDT">
      <input wsam:Action="http://publicadores/PublicadorUsuario/obtenerUsuariosDTRequest" message="tns:obtenerUsuariosDT"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/obtenerUsuariosDTResponse" message="tns:obtenerUsuariosDTResponse"/>
      <fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" wsam:Action="http://publicadores/PublicadorUsuario/obtenerUsuariosDT/Fault/UsuarioNoExisteException"/>
    </operation>
    <operation name="altaUsuario" parameterOrder="nickname nombre correo descripcion link apellido fechaNacimiento institucion esOrganizador contrasena imagen">
      <input wsam:Action="http://publicadores/PublicadorUsuario/altaUsuarioRequest" message="tns:altaUsuario"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/altaUsuarioResponse" message="tns:altaUsuarioResponse"/>
      <fault message="tns:UsuarioYaExisteException" name="UsuarioYaExisteException" wsam:Action="http://publicadores/PublicadorUsuario/altaUsuario/Fault/UsuarioYaExisteException"/>
    </operation>
    <operation name="sigueA" parameterOrder="seguidor seguido">
      <input wsam:Action="http://publicadores/PublicadorUsuario/sigueARequest" message="tns:sigueA"/>
      <output wsam:Action="http://publicadores/PublicadorUsuario/sigueAResponse" message="tns:sigueAResponse"/>
    </operation>
  </portType>
  <binding name="PublicadorUsuarioPortBinding" type="tns:PublicadorUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="altaCategoriaSinGUI">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
      <fault name="CategoriaYaExisteException">
        <soap:fault name="CategoriaYaExisteException" use="literal"/>
      </fault>
    </operation>
    <operation name="modificarDatosUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
      <fault name="UsuarioNoExisteException">
        <soap:fault name="UsuarioNoExisteException" use="literal"/>
      </fault>
      <fault name="UsuarioTipoIncorrectoException">
        <soap:fault name="UsuarioTipoIncorrectoException" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerDatosRegistros">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
    </operation>
    <operation name="obtenerDatosUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
      <fault name="UsuarioNoExisteException">
        <soap:fault name="UsuarioNoExisteException" use="literal"/>
      </fault>
    </operation>
    <operation name="listarInstituciones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
    </operation>
    <operation name="getInstituciones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
    </operation>
    <operation name="esAsistente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
    </operation>
    <operation name="seguirUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
    </operation>
    <operation name="altaInstitucion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
      <fault name="InstitucionYaExisteException">
        <soap:fault name="InstitucionYaExisteException" use="literal"/>
      </fault>
    </operation>
    <operation name="dejarSeguirUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
    </operation>
    <operation name="validarLogin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
    </operation>
    <operation name="obtenerUsuariosDT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
      <fault name="UsuarioNoExisteException">
        <soap:fault name="UsuarioNoExisteException" use="literal"/>
      </fault>
    </operation>
    <operation name="altaUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
      <fault name="UsuarioYaExisteException">
        <soap:fault name="UsuarioYaExisteException" use="literal"/>
      </fault>
    </operation>
    <operation name="sigueA">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://publicadores/"/>
      </output>
    </operation>
  </binding>
  <service name="PublicadorUsuarioService">
    <port name="PublicadorUsuarioPort" binding="tns:PublicadorUsuarioPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

